<a href="https://colab.research.google.com/github/ClauBenitez/datasciencestest/blob/main/DataSciencetestCLBenitez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar Bases de Datos cargadas en Github

In [15]:
##Importar Bases de datos
##
import pandas as pd
red_wine = pd.read_csv("https://raw.githubusercontent.com/ClauBenitez/datasciencestest/refs/heads/main/winequality-red.csv")
white_wine = pd.read_csv ("https://raw.githubusercontent.com/ClauBenitez/datasciencestest/refs/heads/main/winequality-white.csv")

# Agregar una columna para identificar el tipo de vino

In [16]:
red_wine["type"] = "red"
white_wine["type"] = "white"

# Unir los dos datasets

In [17]:
wine_df = pd.concat([red_wine, white_wine], axis=0)

 Mostrar información básica

In [18]:
info = wine_df.info()
missing_values = wine_df.isnull().sum()
sample = wine_df.head()

info, missing_values, sample

<class 'pandas.core.frame.DataFrame'>
Index: 6497 entries, 0 to 4897
Data columns (total 2 columns):
 #   Column                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                   --------------  -----
 0   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"  6497 non-null   object
 1   type                                                                                                                                                                     6497 non-null   object
dtypes: object(2)
memory usage: 152.3+ KB

(None,
 fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"    0
 type                                                                                                                                                                       0
 dtype: int64,
   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"  \
 0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
 1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
 2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
 3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
 4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

   type
 0  red
 1  red
 2  red
 3  red
 4  red  )